/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    font-family: sans-serif;
    background-color:  whitesmoke;
}

li{
    list-style: none;
    font-size: 18px;
    background-color: white;
    border: 2px solid grey;
    margin-left: 0%;
    border-radius: 4px;
    padding: 12px 28px;
    height: 30%;
    width:72%;
    margin-top:-1.75%;
    user-select: auto;
    
}

h1{
    font-size: 48px;
    color: white;
    background-color: rgb(238, 59, 59);
    padding: 32px 32px;
    height: 50px;
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
;
}

input{
    font-size: 20px;
}

label{
    font-size: 20px;
    margin-left: 3%;
}

text{
    font-size: 20px;
}

#submitType{
    border:2px solid #4CAF50;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 8px;
    font-family: sans-serif;
    margin-left:16%;
}

#submitType:hover{
    background-color: #4CAF50; 
    color: whitesmoke;
}

#resetType{
    border: 2px solid black;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 8px;
    font-family: sans-serif;
}

#resetType:hover{
    background-color: #e7e7e7; color: black;
    color:black;
}

h2{
    font-family: 'Raleway', sans-serif;
    background-color: #008CBA;
    color:white;
    margin-left: 3%;
    border-radius: 4px;
    padding: 12px 28px;
    height: 30%;
    width:70%;
}

.removeButton{
    border-color: #ec5c52;
    background-color: whitesmoke;
    background-image: url("https://cdn1.iconfinder.com/data/icons/office-36/24/Trashcan-512.png");
    height: 2rem;
    width: 2rem;
    margin-left: 97%;
    border-radius: 8px;
    background-size:cover;
    background-position: center;
}

.removeButton:hover{
    background-color:  #ec5c52;
}

li, .removeButton{
    display: inline-block;
}



